<footer id="footer">
  <div class="footer-content">
    <div class="footer-section">
      <h3>Contactez-moi</h3>
      <p><i class="fas fa-envelope"></i> argibay.mathieu@gmail.com</p>
      <p><i class="fas fa-phone"></i> 06.43.03.19.62</p>
      <p><i class="fas fa-map-marker-alt"></i> Saint-Claud 16450, France</p>
    </div>

    <div class="footer-section">
      <h3>Suivez-moi</h3>
      <div class="social-icons">
        <a
          href="https://www.linkedin.com/in/mathieu-argibay7895123/"
          target="_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a href="https://github.com/MathieuArgibay" target="_blank"
          ><i class="fab fa-github"></i
        ></a>
        <a
          href="https://mathieuargibay.vercel.app/file/MathieuArgibay.pdf"
          download
          target="_blank"
          ><i class="fas fa-file-alt"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 Mathieu Argibay. Tous droits réservés.</p>
  </div>
</footer>
